<style>
/* */
/* Global Styles */
  
body {
  margin:0 auto;
  font-weight: 300;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  
}

.orangebg {
  background-color: #f9b900;
  padding: 5px;
}

h1 {
  color: #2f3a8c;
  text-decoration: none;
}

h2 {
  text-decoration: none;
  color: black;
}

h3 {
  font-size: 150%;
  text-decoration: none;
  color: black;
  text-align: center;
}

h4 {
  font-size: 150%;
  text-decoration: none;
  color: rgb(0, 5, 72);
  text-align: left;
}

h5 {
  font-size: 150%;
  color: #2f3a8c;
  text-decoration: none;
  text-align: center;
}


/* images */
.sitelogo img {
  display: block;
  position: absolute;
  float: left;
  width: 20%;
}

figure {
	padding: 1em 0;
}

figure img {
	display: block;
	width: 100%;
	max-width: min-content;
	margin: 0 auto;
  position: static;
}

figure iframe {
	display: block;
	margin: 10px;
  float: right;
  padding: 15px;
}

.bg-img {

  background-image: url("images/support.jpg");
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px
}

.bg-img2 {

  background-image: url("images/cel.png");
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px
}

.bg-img3 {

  background-image: url("images/2.png");
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px
}
.bg-img4 {

  background-image: url("images/3.png");
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px
}

/* ul */

ul#menu li {
  display:inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* links */

.link {
  text-decoration: none;
  padding: 20px 25px;
  color: white;
  text-align: center;
}

.link:visited {
  text-decoration: none;
  padding: 15px 25px;
  color: white;
  text-align: center;

}

.link:hover {
  text-decoration: none;
  background-color: white;
  transition: background-color 0.25s ease-out;
  cursor: pointer;
}
  
}

/*grid*/

.grid-line {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  padding: 15px;
}

#grid-col {
  display: grid;
  grid-template-columns: auto auto;
}

#grid-row {
  display: grid;
  grid-template-columns: auto auto;

}
div.cell {
  padding: 10px;
}

.spancol {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 50px;
}

.spanrow {
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 10px;
}



/* Nav bar */

body {
  margin: 0;
  font-family: Helvetica;
}

.topnav {
  overflow: hidden;
  background-color: #91c5ed;
  text
}

.topnav a {
  color: #f2f2f2;
  float: right;
  text-align: center;
  padding: 50px 25px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.25s ease-out;
  cursor: pointer;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: #91c5ed;
  color: white;
}

/* footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #91c5ed;
  color: white;
  text-align: right;
  z-index: 1;
  float:right;
  padding-right:15px;

}

.icon-style {
  height: 35px;
  margin-left: 20px;
  margin-top: 10px;
}

.icon-style:hover {
  background-color: rgb(44, 148, 226);
  transition: background-color 0.25s ease-out;
  cursor: pointer;
}

/* Read More button */

#more {
  display: none;
  }

#more2 {
  display: none;
  }

#more3 {
  display: none;
  }

/* form */

input[type=text], select, textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #91c5ed;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px; 
  float: right;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
  color:  black;
  transition: background-color 0.20s ease-in-out;
}

.container {
  border-radius: 5px;
  background-color: #f9b900;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* flexboxes to allow for grid style display of the form */
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}



.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; 
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

/* media */

@media screen and (max-width: 850px) {
  .topnav a {
    float: none;
    display: block;
    text-align: right;
    padding: 10px 10px;
  }

    input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  
  .col-25 {
    margin-bottom: 20px;
  }


  .sitelogo img{
    width: 50%;
    float: left;
    padding: 15px, 15px;
  }

.icon-style {
  height: 20px;
  margin-left: 15px;
  margin-top: 15px;

}
figure {
		margin: 0;
}
figure iframe {
		width: 100%;
}
figure img {
		width: 100%;
	
}

.bg-img, .bg-img2, .bg-img3, .bg-img4 {
  min-height: 150px;
}

</style>